In [1]:
import pandas as pd

In [2]:
pr=pd.read_csv("Iris.csv")

In [3]:
pr

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
pr.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
pr["Season"]="Summer"

In [6]:
pr.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Season
0,1,5.1,3.5,1.4,0.2,Iris-setosa,Summer
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Summer
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Summer
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Summer
4,5,5.0,3.6,1.4,0.2,Iris-setosa,Summer

In [14]:
pr.insert(2,column="Colour",value="Yellow" "Red")

ValueError: cannot insert Colour, already exists

In [15]:
pr.head()

,Id,SepalLengthCm,Colour,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Season
0,1,5.1,YellowRed,3.5,1.4,0.2,Iris-setosa,Summer
1,2,4.9,YellowRed,3.0,1.4,0.2,Iris-setosa,Summer
2,3,4.7,YellowRed,3.2,1.3,0.2,Iris-setosa,Summer
3,4,4.6,YellowRed,3.1,1.5,0.2,Iris-setosa,Summer
4,5,5.0,YellowRed,3.6,1.4,0.2,Iris-setosa,Summer

In [16]:
pr.insert(2,column="Color",value="Yellow")

In [17]:
pr.head()

,Id,SepalLengthCm,Color,Colour,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Season
0,1,5.1,Yellow,YellowRed,3.5,1.4,0.2,Iris-setosa,Summer
1,2,4.9,Yellow,YellowRed,3.0,1.4,0.2,Iris-setosa,Summer
2,3,4.7,Yellow,YellowRed,3.2,1.3,0.2,Iris-setosa,Summer
3,4,4.6,Yellow,YellowRed,3.1,1.5,0.2,Iris-setosa,Summer
4,5,5.0,Yellow,YellowRed,3.6,1.4,0.2,Iris-setosa,Summer