In [2]:
import pandas as pd
c=pd.read_csv("Iris.csv")
c

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
c.sort_values("SepalWidthCm",ascending=False,inplace=True)

In [5]:
c

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
15,16,5.7,4.4,1.5,0.4,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
...,...,...,...,...,...,...
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
60,61,5.0,2.0,3.5,1.0,Iris-versicolor

In [6]:
c.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
15  16            5.7           4.4            1.5           0.4  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa

#### NOW IF WE WANT TO BRING THE DATA INTO MY ORIGINAL FORM..
THEN..

In [7]:
c.sort_index()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica