In [1]:
import pandas as pd

In [2]:
p=pd.read_csv("Iris.csv")

In [3]:
p

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
p["PetalWidthCm"]=p["PetalWidthCm"].fillna(0).astype(int)

In [5]:
p["PetalWidthCm"]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    1
147    2
148    2
149    1
Name: PetalWidthCm, Length: 150, dtype: int32

In [8]:
p.head(120)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0,Iris-setosa
1,2,4.9,3.0,1.4,0,Iris-setosa
2,3,4.7,3.2,1.3,0,Iris-setosa
3,4,4.6,3.1,1.5,0,Iris-setosa
4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...
115,116,6.4,3.2,5.3,2,Iris-virginica
116,117,6.5,3.0,5.5,1,Iris-virginica
117,118,7.7,3.8,6.7,2,Iris-virginica
118,119,7.7,2.6,6.9,2,Iris-virginica
119,120,6.0,2.2,5.0,1,Iris-virginica

In [22]:
p["PetalWidthCm"].rank(ascending=True).astype(int)

0       25
1       25
2       25
3       25
4       25
      ...
145    136
146     86
147    136
148    136
149     86
Name: PetalWidthCm, Length: 150, dtype: int32

In [17]:
p.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,petalWidth Rank
0,1,5.1,3.5,1.4,0,Iris-setosa,125
1,2,4.9,3.0,1.4,0,Iris-setosa,125
2,3,4.7,3.2,1.3,0,Iris-setosa,125
3,4,4.6,3.1,1.5,0,Iris-setosa,125
4,5,5.0,3.6,1.4,0,Iris-setosa,125

In [19]:
p.insert(5,column="petalWidthRank",value=p["PetalWidthCm"].rank(ascending=False).astype(int))

In [20]:
p.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,petalWidthRank,Species,petalWidth Rank
0,1,5.1,3.5,1.4,0,125,Iris-setosa,125
1,2,4.9,3.0,1.4,0,125,Iris-setosa,125
2,3,4.7,3.2,1.3,0,125,Iris-setosa,125
3,4,4.6,3.1,1.5,0,125,Iris-setosa,125
4,5,5.0,3.6,1.4,0,125,Iris-setosa,125

In [24]:
p.sort_values("petalWidthRank",ascending=True)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,petalWidthRank,Species,petalWidth Rank
148,149,6.2,3.4,5.4,2,15,Iris-virginica,15
113,114,5.7,2.5,5.0,2,15,Iris-virginica,15
117,118,7.7,3.8,6.7,2,15,Iris-virginica,15
118,119,7.7,2.6,6.9,2,15,Iris-virginica,15
112,113,6.8,3.0,5.5,2,15,Iris-virginica,15
...,...,...,...,...,...,...,...,...
29,30,4.7,3.2,1.6,0,125,Iris-setosa,125
28,29,5.2,3.4,1.4,0,125,Iris-setosa,125
27,28,5.2,3.5,1.5,0,125,Iris-setosa,125
38,39,4.4,3.0,1.3,0,125,Iris-setosa,125
0,1,5.1,3.5,1.4,0,125,Iris-setosa,125