In [5]:
import pandas as pd

df=pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.sort_values("Age",inplace=True)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1311,18,No,Non-Travel,1431,Research & Development,14,3,Medical,1,1839,...,3,80,0,0,4,1,0,0,0,0
457,18,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,...,4,80,0,0,3,3,0,0,0,0
972,18,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,1,1368,...,3,80,0,0,5,4,0,0,0,0
301,18,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,...,1,80,0,0,2,3,0,0,0,0
296,18,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,...,3,80,0,0,2,3,0,0,0,0

In [6]:
df["Age"].duplicated()

1311    False
457      True
972      True
301      True
296      True
        ...
536     False
427      True
411      True
879      True
1209     True
Name: Age, Length: 1470, dtype: bool

In [11]:
df[df["Age"].duplicated()]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
457,18,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,...,4,80,0,0,3,3,0,0,0,0
972,18,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,1,1368,...,3,80,0,0,5,4,0,0,0,0
301,18,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,...,1,80,0,0,2,3,0,0,0,0
296,18,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,...,3,80,0,0,2,3,0,0,0,0
1153,18,Yes,Travel_Frequently,544,Sales,3,2,Medical,1,1624,...,3,80,0,0,2,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,59,No,Travel_Rarely,818,Human Resources,6,2,Medical,1,321,...,4,80,0,7,2,2,2,2,2,2
427,60,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,573,...,4,80,0,22,5,4,18,13,13,11
411,60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,549,...,4,80,0,33,5,1,29,8,11,10
879,60,No,Travel_Rarely,696,Sales,7,4,Marketing,1,1233,...,2,80,1,12,3,3,11,7,1,9
1209,60,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,1697,...,3,80,1,19,2,4,1,0,0,0

In [16]:
mask=~df["Age"].duplicated()
df[mask]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1311,18,No,Non-Travel,1431,Research & Development,14,3,Medical,1,1839,...,3,80,0,0,4,1,0,0,0,0
909,19,No,Travel_Rarely,265,Research & Development,25,3,Life Sciences,1,1269,...,4,80,0,1,2,3,1,0,0,1
689,20,Yes,Travel_Rarely,129,Research & Development,4,3,Technical Degree,1,960,...,2,80,0,1,2,3,1,0,0,0
815,21,No,Travel_Rarely,984,Research & Development,1,1,Technical Degree,1,1131,...,3,80,0,2,6,4,2,2,2,2
1137,22,No,Non-Travel,457,Research & Development,26,2,Other,1,1605,...,2,80,0,4,2,2,4,2,1,3
1127,23,No,Travel_Rarely,977,Research & Development,10,3,Technical Degree,1,1592,...,4,80,1,4,2,3,2,2,2,2
113,24,No,Travel_Rarely,1127,Research & Development,18,1,Life Sciences,1,150,...,3,80,1,6,2,3,5,3,1,2
911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,1273,...,4,80,0,1,4,3,1,0,1,0
733,26,No,Travel_Rarely,1066,Research & Development,2,2,Medical,1,1018,...,2,80,0,8,2,3,8,7,1,3
537,27,No,Travel_Frequently,294,Research & Development,10,2,Life Sciences,1,733,...,3,80,2,9,4,2,9,7,1,7
764,28,No,Travel_Rarely,1144,Sales,10,1,Medical,1,1056,...,2,80,0,1,5,3,1,0,0,0
1313,29,Yes,Travel_Rarely,350,Human Resources,13,3,Human Resources,1,1844,...,4,80,3,4,3,3,2,2,2,0
381,30,No,Travel_Rarely,202,Sales,2,1,Technical Degree,1,508,...,1,80,1,1,3,3,1,0,0,0
644,31,No,Travel_Rarely,1222,Research & Development,11,4,Life Sciences,1,895,...,2,80,1,8,2,3,6,4,0,2
1113,32,No,Non-Travel,1200,Research & Development,1,4,Technical Degree,1,1574,...,2,80,1,9,3,2,6,5,1,2
712,33,No,Travel_Rarely,461,Research & Development,13,1,Life Sciences,1,995,...,1,80,0,5,4,3,3,2,0,2
1270,34,No,Travel_Rarely,511,Sales,3,2,Life Sciences,1,1779,...,1,80,0,6,3,3,2,2,2,2
557,35,No,Non-Travel,1225,Research & Development,2,4,Life Sciences,1,771,...,1,80,1,16,2,4,1,0,0,0
761,36,Yes,Travel_Rarely,660,Research & Development,15,3,Other,1,1052,...,2,80,1,9,3,2,1,0,0,0
464,37,No,Travel_Rarely,799,Research & Development,1,3,Technical Degree,1,623,...,4,80,0,12,3,4,6,5,1,2
341,38,No,Travel_Rarely,343,Research & Development,15,2,Life Sciences,1,461,...,2,80,1,12,3,3,11,10,2,9
1372,39,No,Travel_Rarely,867,Research & Development,9,2,Medical,1,1936,...,4,80,1,10,3,3,10,0,7,9
1242,40,No,Travel_Rarely,611,Sales,7,4,Medical,1,1740,...,2,80,0,21,3,2,21,8,12,8
783,41,No,Travel_Rarely,509,Research & Development,7,2,Technical Degree,1,1085,...,3,80,0,10,3,3,10,6,0,8
1088,42,No,Travel_Rarely,1210,Research & Development,2,3,Medical,1,1542,...,2,80,1,4,3,3,1,0,0,0
650,43,No,Travel_Frequently,422,Research & Development,1,3,Life Sciences,1,902,...,2,80,1,12,2,2,5,2,2,2
1165,44,No,Travel_Frequently,602,Human Resources,1,5,Human Resources,1,1642,...,3,80,0,14,3,3,10,7,0,2
696,45,No,Non-Travel,805,Research & Development,4,2,Life Sciences,1,972,...,2,80,0,9,5,2,9,7,0,8
178,46,No,Travel_Rarely,526,Sales,1,2,Marketing,1,244,...,3,80,3,24,2,3,24,13,15,7
271,47,Yes,Non-Travel,666,Research & Development,29,4,Life Sciences,1,376,...,4,80,1,10,2,2,10,7,9,9
678,48,No,Travel_Rarely,1469,Research & Development,20,4,Medical,1,945,...,1,80,2,13,2,2,0,0,0,0
129,49,No,Travel_Rarely,470,Research & Development,20,4,Medical,1,170,...,3,80,0,16,2,2,15,11,5,11
742,50,No,Travel_Rarely,804,Research & Development,9,3,Life Sciences,1,1030,...,2,80,0,8,5,3,1,0,0,0
1275,51,No,Travel_Rarely,942,Research & Development,3,3,Technical Degree,1,1786,...,4,80,0,15,2,3,2,2,2,2
947,52,Yes,Travel_Rarely,1030,Sales,5,3,Life Sciences,1,1319,...,3,80,0,10,2,2,8,7,7,7
1396,53,Yes,Travel_Rarely,1168,Sales,24,4,Life Sciences,1,1968,...,2,80,0,15,2,2,2,2,2,2
510,54,No,Travel_Rarely,397,Human Resources,19,4,Medical,1,698,...,3,80,1,16,1,4,9,7,7,1
787,55,No,Travel_Frequently,1091,Research & Development,2,1,Life Sciences,1,1096,...,2,80,1,23,4,3,3,2,1,2
976,56,No,Travel_Rarely,1369,Research & Development,23,3,Life Sciences,1,1373,...,1,80,1,33,0,3,19,16,15,9
1053,57,No,Travel_Rarely,405,Research & Development,1,2,Life Sciences,1,1483,...,1,80,1,13,2,2,12,9,2,8
1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0
743,59,No,Travel_Rarely,715,Research & Development,2,3,Life Sciences,1,1032,...,1,80,0,30,4,3,5,3,4,3
536,60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,732,...,4,80,0,10,1,3,2,2,2,2

In [17]:
len(df[mask])

43

In [22]:
df.drop_duplicates(["Age"])

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1311,18,No,Non-Travel,1431,Research & Development,14,3,Medical,1,1839,...,3,80,0,0,4,1,0,0,0,0
909,19,No,Travel_Rarely,265,Research & Development,25,3,Life Sciences,1,1269,...,4,80,0,1,2,3,1,0,0,1
689,20,Yes,Travel_Rarely,129,Research & Development,4,3,Technical Degree,1,960,...,2,80,0,1,2,3,1,0,0,0
815,21,No,Travel_Rarely,984,Research & Development,1,1,Technical Degree,1,1131,...,3,80,0,2,6,4,2,2,2,2
1137,22,No,Non-Travel,457,Research & Development,26,2,Other,1,1605,...,2,80,0,4,2,2,4,2,1,3
1127,23,No,Travel_Rarely,977,Research & Development,10,3,Technical Degree,1,1592,...,4,80,1,4,2,3,2,2,2,2
113,24,No,Travel_Rarely,1127,Research & Development,18,1,Life Sciences,1,150,...,3,80,1,6,2,3,5,3,1,2
911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,1273,...,4,80,0,1,4,3,1,0,1,0
733,26,No,Travel_Rarely,1066,Research & Development,2,2,Medical,1,1018,...,2,80,0,8,2,3,8,7,1,3
537,27,No,Travel_Frequently,294,Research & Development,10,2,Life Sciences,1,733,...,3,80,2,9,4,2,9,7,1,7
764,28,No,Travel_Rarely,1144,Sales,10,1,Medical,1,1056,...,2,80,0,1,5,3,1,0,0,0
1313,29,Yes,Travel_Rarely,350,Human Resources,13,3,Human Resources,1,1844,...,4,80,3,4,3,3,2,2,2,0
381,30,No,Travel_Rarely,202,Sales,2,1,Technical Degree,1,508,...,1,80,1,1,3,3,1,0,0,0
644,31,No,Travel_Rarely,1222,Research & Development,11,4,Life Sciences,1,895,...,2,80,1,8,2,3,6,4,0,2
1113,32,No,Non-Travel,1200,Research & Development,1,4,Technical Degree,1,1574,...,2,80,1,9,3,2,6,5,1,2
712,33,No,Travel_Rarely,461,Research & Development,13,1,Life Sciences,1,995,...,1,80,0,5,4,3,3,2,0,2
1270,34,No,Travel_Rarely,511,Sales,3,2,Life Sciences,1,1779,...,1,80,0,6,3,3,2,2,2,2
557,35,No,Non-Travel,1225,Research & Development,2,4,Life Sciences,1,771,...,1,80,1,16,2,4,1,0,0,0
761,36,Yes,Travel_Rarely,660,Research & Development,15,3,Other,1,1052,...,2,80,1,9,3,2,1,0,0,0
464,37,No,Travel_Rarely,799,Research & Development,1,3,Technical Degree,1,623,...,4,80,0,12,3,4,6,5,1,2
341,38,No,Travel_Rarely,343,Research & Development,15,2,Life Sciences,1,461,...,2,80,1,12,3,3,11,10,2,9
1372,39,No,Travel_Rarely,867,Research & Development,9,2,Medical,1,1936,...,4,80,1,10,3,3,10,0,7,9
1242,40,No,Travel_Rarely,611,Sales,7,4,Medical,1,1740,...,2,80,0,21,3,2,21,8,12,8
783,41,No,Travel_Rarely,509,Research & Development,7,2,Technical Degree,1,1085,...,3,80,0,10,3,3,10,6,0,8
1088,42,No,Travel_Rarely,1210,Research & Development,2,3,Medical,1,1542,...,2,80,1,4,3,3,1,0,0,0
650,43,No,Travel_Frequently,422,Research & Development,1,3,Life Sciences,1,902,...,2,80,1,12,2,2,5,2,2,2
1165,44,No,Travel_Frequently,602,Human Resources,1,5,Human Resources,1,1642,...,3,80,0,14,3,3,10,7,0,2
696,45,No,Non-Travel,805,Research & Development,4,2,Life Sciences,1,972,...,2,80,0,9,5,2,9,7,0,8
178,46,No,Travel_Rarely,526,Sales,1,2,Marketing,1,244,...,3,80,3,24,2,3,24,13,15,7
271,47,Yes,Non-Travel,666,Research & Development,29,4,Life Sciences,1,376,...,4,80,1,10,2,2,10,7,9,9
678,48,No,Travel_Rarely,1469,Research & Development,20,4,Medical,1,945,...,1,80,2,13,2,2,0,0,0,0
129,49,No,Travel_Rarely,470,Research & Development,20,4,Medical,1,170,...,3,80,0,16,2,2,15,11,5,11
742,50,No,Travel_Rarely,804,Research & Development,9,3,Life Sciences,1,1030,...,2,80,0,8,5,3,1,0,0,0
1275,51,No,Travel_Rarely,942,Research & Development,3,3,Technical Degree,1,1786,...,4,80,0,15,2,3,2,2,2,2
947,52,Yes,Travel_Rarely,1030,Sales,5,3,Life Sciences,1,1319,...,3,80,0,10,2,2,8,7,7,7
1396,53,Yes,Travel_Rarely,1168,Sales,24,4,Life Sciences,1,1968,...,2,80,0,15,2,2,2,2,2,2
510,54,No,Travel_Rarely,397,Human Resources,19,4,Medical,1,698,...,3,80,1,16,1,4,9,7,7,1
787,55,No,Travel_Frequently,1091,Research & Development,2,1,Life Sciences,1,1096,...,2,80,1,23,4,3,3,2,1,2
976,56,No,Travel_Rarely,1369,Research & Development,23,3,Life Sciences,1,1373,...,1,80,1,33,0,3,19,16,15,9
1053,57,No,Travel_Rarely,405,Research & Development,1,2,Life Sciences,1,1483,...,1,80,1,13,2,2,12,9,2,8
1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0
743,59,No,Travel_Rarely,715,Research & Development,2,3,Life Sciences,1,1032,...,1,80,0,30,4,3,5,3,4,3
536,60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,732,...,4,80,0,10,1,3,2,2,2,2