In [1]:
import pandas as pd
df=pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
df

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,,,,,,,,,,,,,,,,,,,,,
41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,1,80,0,8,0,1,6,4,0,5
49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,4,80,1,10,3,3,10,7,1,7
37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,2,80,0,7,3,3,0,0,0,0
33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,3,80,0,8,3,3,8,7,3,0
27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,3,80,1,17,3,3,5,2,0,3
39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,1,80,1,9,5,3,7,7,1,7
27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,2,80,1,6,0,3,6,2,0,3
49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,4,80,0,17,3,2,9,6,0,8
34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,1,80,0,6,3,4,4,3,1,2

In [8]:
df.loc[41]

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,,,,,,,,,,,,,,,,,,,,,
41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,1,80,0,8,0,1,6,4,0,5
41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,1,58,2,...,4,80,0,23,0,3,22,15,15,8
41,No,Travel_Rarely,802,Sales,9,1,Life Sciences,1,176,3,...,3,80,1,12,2,3,9,7,0,7
41,No,Travel_Frequently,857,Research & Development,10,3,Life Sciences,1,199,4,...,2,80,1,21,2,2,7,6,7,7
41,No,Travel_Rarely,933,Research & Development,9,4,Life Sciences,1,200,3,...,4,80,1,7,2,3,5,0,1,4
41,No,Travel_Rarely,465,Research & Development,14,3,Life Sciences,1,227,1,...,1,80,1,13,2,3,9,8,1,8
41,Yes,Travel_Rarely,1356,Sales,20,2,Marketing,1,248,2,...,4,80,0,4,5,2,4,3,0,2
41,No,Travel_Rarely,896,Sales,6,3,Life Sciences,1,298,4,...,3,80,0,16,3,3,1,0,0,0
41,No,Travel_Rarely,1411,Research & Development,19,2,Life Sciences,1,334,3,...,1,80,2,17,2,2,1,0,0,0
41,No,Travel_Rarely,334,Sales,2,4,Life Sciences,1,410,4,...,2,80,0,22,2,3,22,10,0,4
41,No,Travel_Rarely,483,Research & Development,6,3,Medical,1,466,4,...,4,80,0,8,3,3,5,4,1,2
41,Yes,Travel_Frequently,143,Sales,4,3,Marketing,1,488,1,...,3,80,0,8,5,3,8,7,7,7
41,No,Travel_Rarely,645,Sales,1,3,Marketing,1,534,2,...,3,80,1,10,2,3,10,7,0,7
41,No,Non-Travel,267,Sales,10,2,Life Sciences,1,599,4,...,4,80,0,16,3,3,14,3,1,10
41,No,Non-Travel,509,Research & Development,2,4,Other,1,616,1,...,1,80,0,10,3,3,8,7,0,7
41,No,Travel_Rarely,1276,Sales,2,5,Life Sciences,1,625,2,...,2,80,1,22,2,3,18,16,11,8
41,No,Travel_Rarely,427,Human Resources,10,4,Human Resources,1,731,2,...,2,80,3,23,2,2,21,6,12,6
41,No,Travel_Rarely,314,Human Resources,1,3,Human Resources,1,734,4,...,2,80,1,22,3,3,22,7,2,10
41,Yes,Travel_Rarely,1085,Research & Development,2,4,Life Sciences,1,927,2,...,3,80,1,10,1,2,7,7,1,0
41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,4,...,3,80,0,20,3,3,18,13,2,17
41,No,Travel_Frequently,840,Research & Development,9,3,Medical,1,999,1,...,2,80,1,21,2,4,18,16,0,11
41,No,Travel_Rarely,549,Research & Development,7,2,Medical,1,1025,4,...,2,80,0,8,6,3,2,2,2,1
41,No,Non-Travel,247,Research & Development,7,1,Life Sciences,1,1035,2,...,2,80,2,21,3,3,21,16,5,10
41,No,Travel_Rarely,509,Research & Development,7,2,Technical Degree,1,1085,2,...,3,80,0,10,3,3,10,6,0,8
41,No,Travel_Rarely,167,Research & Development,12,4,Life Sciences,1,1158,2,...,1,80,1,6,4,3,1,0,0,0
41,Yes,Non-Travel,906,Research & Development,5,2,Life Sciences,1,1210,1,...,1,80,1,5,2,1,1,0,0,0
41,No,Non-Travel,256,Sales,10,2,Medical,1,1329,3,...,1,80,0,19,4,3,19,2,11,9
41,No,Travel_Frequently,1018,Sales,1,3,Marketing,1,1349,3,...,4,80,1,10,2,3,9,3,1,7
41,No,Travel_Frequently,1200,Research & Development,22,3,Life Sciences,1,1392,4,...,1,80,2,12,4,2,6,2,3,3
41,No,Travel_Rarely,1283,Research & Development,5,5,Medical,1,1448,2,...,1,80,0,7,5,2,4,2,0,3
41,No,Travel_Rarely,1206,Sales,23,2,Life Sciences,1,1678,4,...,4,80,0,21,2,3,2,0,0,2
41,No,Travel_Rarely,918,Sales,6,3,Marketing,1,1708,4,...,2,80,0,10,3,3,10,8,8,7
41,No,Non-Travel,552,Human Resources,4,3,Human Resources,1,1722,3,...,2,80,1,10,4,3,3,2,1,2
41,No,Travel_Rarely,548,Research & Development,9,4,Life Sciences,1,1772,3,...,2,80,2,5,2,3,5,3,0,4
41,No,Travel_Rarely,447,Research & Development,5,3,Life Sciences,1,1814,2,...,1,80,0,11,3,1,3,2,1,2
41,No,Travel_Rarely,796,Sales,4,1,Marketing,1,1815,3,...,4,80,1,23,3,4,22,14,13,5
41,No,Travel_Rarely,337,Sales,8,3,Marketing,1,1909,3,...,3,80,1,14,3,3,5,4,1,4
41,No,Travel_Rarely,642,Research & Development,1,3,Life Sciences,1,1999,4,...,1,80,1,12,3,3,5,3,1,0
41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,1,...,3,80,1,21,3,3,20,7,0,10
41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,3,...,3,80,1,14,5,3,5,4,0,4

In [10]:
df.loc[20]

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,,,,,,,,,,,,,,,,,,,,,
20,Yes,Travel_Frequently,871,Research & Development,6,3,Life Sciences,1,137,4,...,2,80,0,1,5,3,1,0,1,0
20,No,Travel_Rarely,959,Research & Development,1,3,Life Sciences,1,657,4,...,4,80,0,1,0,4,1,0,0,0
20,Yes,Travel_Rarely,1362,Research & Development,10,1,Medical,1,701,4,...,4,80,0,1,5,3,1,0,1,1
20,Yes,Travel_Rarely,500,Sales,2,3,Medical,1,922,3,...,4,80,0,2,3,2,2,2,0,2
20,Yes,Travel_Rarely,129,Research & Development,4,3,Technical Degree,1,960,1,...,2,80,0,1,2,3,1,0,0,0
20,Yes,Travel_Rarely,1097,Research & Development,11,3,Medical,1,1016,4,...,1,80,0,1,2,3,1,0,0,0
20,Yes,Travel_Frequently,769,Sales,9,3,Marketing,1,1077,4,...,2,80,0,2,3,3,2,2,0,2
20,No,Travel_Rarely,805,Research & Development,3,3,Life Sciences,1,1198,1,...,1,80,0,2,2,2,2,2,1,2
20,No,Travel_Rarely,654,Sales,21,3,Marketing,1,1226,3,...,4,80,0,2,2,3,2,1,2,2
20,No,Travel_Rarely,1141,Sales,2,3,Medical,1,1657,3,...,1,80,0,2,3,3,2,2,2,2
20,No,Travel_Rarely,727,Sales,9,1,Life Sciences,1,1680,4,...,1,80,0,2,3,3,2,2,0,2

In [14]:
df.loc[18:20]

KeyError: 'Cannot get left slice bound for non-unique label: 18'